<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1588161543631-89e74f5b2c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80)">
  <div class="container">
    <h1>InstruShare</h1>
    <p>Rent musical instruments and share them!</p>
  </div>
</div>


<div class="container mt-3 col-8">

    <% @user_bookings.each do |booking| %>
      <div class="card-product mb-3">
        <% if booking.instrument.photos.attached? %>
          <img src="<%= cl_image_path booking.instrument.photos.first.key, height: 300, width: 400, crop: :fill %>" />
        <% else %>
          <img src="https://images.unsplash.com/photo-1541689592655-f5f52825a3b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" />
        <% end %>
        <div class="card-product-infos">
          <h2><%= booking.instrument.style %></h2>

          <p><%= booking.instrument.description %></p>
          <p><%= booking.start_time %></p>
          <p><%= booking.end_time %></p>
          <p><%= booking.total_price %></p>
          <% if booking.review %>
          <p><%= booking.review.content %></p>
          <% end %>
        </div>
      </div>
    <% end %>

</div>

  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
     This is our first job and we did it with <i class="fas fa-heart"></i>
  </div>
</div>


<%= link_to "Back to bookings", instruments_path, class: "btn btn-primary" %>



