<div class="container mt-5">
  <%= simple_form_for(@instrument) do |f| %>
    <%= f.input :style, collection: Instrument.styles %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :rate %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit  %>
  <% end %>
</div>