<% @instrument.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<h2><%= @instrument.style %></h2>
<p><%= @instrument.description %></p>
<p><%= @instrument.location %></p>
<p><%= @instrument.rate %></p>
<%= link_to "Book", new_instrument_booking_path(@instrument), class: "btn btn-primary" %>

<div class="container">
  <% @instrument.reviews.each do |review| %>
  <%= review.content %>
  <% end %>
</div>

<%= link_to "Back to list", instruments_path, class: "btn btn-primary" %>


 <%# <%= link_to "Edit this instrument", edit_task_path(@instrument), class: "btn btn-info" %>

 <%= current_user.email %>
