<h2><%= @instrument.style %></h2>
<p><%= @instrument.description %></p>
<p><%= @instrument.location %></p>
<p><%= @instrument.rate %></p>

<%= link_to "Back to list", instruments_path, class: "btn btn-success" %>


 <%# <%= link_to "Edit this instrument", edit_task_path(@instrument), class: "btn btn-info" %>

 <%= current_user.email %>