
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1511379938547-c1f69419868d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
  <div class="container">
    <h1>InstruShare</h1>
    <p>Rent musical instruments and share them!</p>
  </div>
</div>

<div class="container">
  <% @instrument.reviews.each do |review| %>
  <%= review.content %>
  <% end %>
</div>

  <div class="container">
    <div class="mt-3">
       <div class="card mx-auto" style="width: 450px;">
      <% @instrument.photos.each do |photo| %>
          <% if @instrument.photos.attached?%>
            <%= cl_image_tag @instrument.photos.first.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
          <% else %>
            <img class="card-img-top" src="https://images.unsplash.com/photo-1541689592655-f5f52825a3b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=302&q=80" alt="Card image cap">
          <% end %>
      <% end %>
      <h2><%= @instrument.style %></h2>
      <p><%= @instrument.description %></p>
      <p><%= @instrument.location %></p>
      <p><%= @instrument.rate %></p>
      <%= current_user.email %>
      <%= @instrument.user.email %>
      <% if @instrument.user == current_user %>
        <%= link_to "Edit", edit_instrument_path(@instrument), class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Book", new_instrument_booking_path(@instrument), class: "btn btn-primary" %>
      <% end %>
      <div class="container">
        <% @instrument.reviews.each do |review| %>
        <%= review.content %>
        <% end %>
      </div>

        <%= link_to "Back to list", instruments_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>


  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
     This is our first job and we did it with <i class="fas fa-heart"></i>
  </div>
</div>

 <%# <%= link_to "Edit this instrument", edit_task_path(@instrument), class: "btn btn-info" %>

 <%= current_user.email %>
